<li>
  <%= nav_link_to "Products", send("manager_products_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Extras", send("manager_extras_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "About", send("about_path"), class: "nav-link" %>
</li>
<li>
  <%= nav_link_to "Pricing", send("pricing_path"), class: "nav-link" %>
</li>
