<div class="flex flex-col">
  <div class="w-full">
    <%= form.input :name, placeholder: '', required: true, class: 'form-control' %>
  </div>
  <div class="w-full">
    <%= form.input :document, placeholder: '', required: true, class: 'form-control' %>
  </div>
  <div class="w-full">
    <%= form.input :phone, placeholder: '', required: true, class: 'form-control' %>
  </div>
  <div class="w-full">
    <%= form.input :person, placeholder: '', required: true, class: 'form-control' %>
  </div>
</div>
