<tr class="border-b dark:border-gray-700" id="<%= dom_id category %>">
  <td class="px-4 py-3"> <%= category.name %></td>
  <td class="px-4 py-3"> <%= category.description %></td>
  <td class="px-4 py-3"> <%= category.image_url %></td>
</tr>
